body {
  margin: 0;
  font-family: OpenSans, Merriweather, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Merriweather";
  src: url("./fonts/Merriweather-Regular.ttf") format("TrueType"),
    url("./fonts/Merriweather-Bold.ttf") format("TrueType");
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans-Regular.ttf") format("TrueType"),
    url("./fonts/OpenSans-Bold.ttf") format("TrueType");
}
