.form {
  position: relative;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 50px 50px 50px;
  border-radius: 10px;
  background-color: white;
  width: 40%;
  min-width: 300px;
  height: 100%;
  font-family: Merriweather, serif;
  font-weight: bold;
  @media (max-width: 820px) {
    width: 80%;
    margin-top: 10px;
  }
  & legend {
    text-align: left;
    color: rgb(89, 89, 92);
    font-size: 1.2rem;
    font-family: Merriweather, serif;
    font-weight: bold;
  }
  animation: open 1s;
  transition: all 2s;

  & input {
    &:focus {
      border: 1.5px solid rgb(9, 9, 240);
    }
    &:invalid {
      border: 1.5px solid rgb(242, 32, 4);
      transition: color 1s;
    }
    &:valid {
      border: 1.5px solid green;
    }
  }
}

.form__label {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-weight: bold;
  color: rgb(89, 89, 92);
  letter-spacing: 1px;
  line-height: 3;
  text-transform: capitalize;
}
.form__input {
  box-sizing: border-box;
  border: 2px solid rgb(225, 223, 223);
  border-radius: 20px;
  width: 100%;
  height: 30px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}

.form__button {
  box-sizing: border-box;
  margin-top: 30px;
  padding: 5px;
  border: 1px solid blue;
  background-color: blue;
  color: white;
  height: 30px;
  border-radius: 20px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: bold;
  &:hover {
    background-color: white;
    color: blue;
    cursor: pointer;
    opacity: 0.7;
    transition: color 1s;
  }
}

@keyframes open {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

input::placeholder {
  font-size: 14px;
  transition: color 1s;
}
