.header {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 3px double rgb(49, 50, 51);
  font-family: Merriweather, serif;
  font-weight: bold;
}
.header__left {
  display: flex;
  align-items: flex-end;
}
.header__right {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
  }
}
.header__link {
  font-size: 1rem;

  & a {
    color: rgb(34, 33, 33);
    text-decoration: none;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
  @media (max-width: 820px) {
    font-size: 16px;
  }
}
