.table__container {
  box-sizing: border-box;
  overflow-x: auto;
  width: 100%;
  height: 100%;
}
.table {
  width: 60%;
  box-sizing: border-box;
  border-collapse: collapse;
  border: 1px solid rgb(224, 223, 223);
  background-color: rgb(253, 253, 253);
  overflow-x: auto;
  margin: 30px auto;

  & th {
    border: 1px solid rgb(219, 218, 218);
    padding: 0.5rem;
    line-height: 1.5;
    text-align: left;
    font-size: 16px;
    font-family: Merriweather, serif;
    font-weight: bold;
  }
  @media (max-width: 820px) {
    width: 80%;
    margin: 50px auto;
  }
  .table__price {
    width: 100px;
    min-width: 80px;
  }
  .table__options {
    width: 50px;
    & img {
      margin-left: 25%;
    }
  }
}
.table__caption {
  text-align: left;
  line-height: 2;
  color: rgb(70, 69, 69);
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-family: Merriweather, serif;
  font-weight: bold;
}
.table__icon {
  padding-right: 10px;
}
.select {
  box-sizing: border-box;
  padding: 1px;
  box-shadow: 0 1px 2px rgb(219, 218, 218);
}

.table__label__search {
  position: relative;
  font-size: 15px;
}
.table__search {
  position: relative;
  box-sizing: border-box;
  padding: 2px;
  border-radius: 20px;
  margin-left: 10px;
  width: 100px;
  outline: none;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  border: 2px solid rgb(70, 70, 70);
  font-family: Merriweather, serif;
  background-image: url("../../assets/search.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  &::placeholder {
    color: rgb(155, 152, 152);
  }
  &:hover {
    border-color: blue;
    background-image: none;
  }
}
