.footer {
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(48, 49, 49);
  color: white;
  position: fixed;
  display: block;
  bottom: 0;
  padding: 2px;
  z-index: -1;
  & a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
  }
}
