.item {
  & td {
    border: 1px solid rgb(219, 218, 218);
    padding: 0.5rem;
    color: rgb(41, 40, 40);
    text-align: left;
    min-width: 50px;
    min-height: 50px;
    max-width: 70px;
    text-transform: capitalize;
    word-wrap: break-word;
  }
  &:hover {
    background-color: aliceblue;
  }
  .item__price {
    background-color: rgb(247, 248, 248);
  }
  .item__select {
    width: 10px;
    text-align: center;
  }
}

.select {
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(219, 218, 218);
  outline: rgb(219, 218, 218);
  padding: 2px;
  width: 35px;
  background-color: green;
  color: white;
  border: none;
  box-shadow: 0 1px 2px green;
  &:hover {
    cursor: pointer;
  }
  & option {
    color: rgb(35, 35, 37);
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
    text-transform: uppercase;
    text-align: left;
    box-sizing: border-box;
  }
  .select--edit {
    color: green;
  }
  .select--delete {
    color: red;
  }
}

.item--active {
  background-color: yellow;
}
